* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3a506b;

}

.navbar {
    height: 11%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.nav-colored {
    background-color: #000;
}

.logo-div {
    display: flex;
    align-items: center;
    width: 49%;
}

.logo-div a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.logo {
    height: 63px;
    padding-left: 45px;
    padding-top: 3px;
    padding-right: 8px;
}

.item-div {
    width: 41%;
}

.nav-items {
    list-style: none;
    display: flex;
}

.nav-items li {
    padding: 5px 30px;
    font-size: 18px;
}

.nav-items li:hover {
    text-decoration: underline;
    color: white;
}

.nav-items a {
    text-decoration: none;
    color: #fff;
}
form {
    width: 500px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: 0;
    cursor: pointer;
}

.scrolled {
    background-color: black;
}

.main-cont {
    display: flex;
    justify-content: center;
}

.container {
    width: 700px;
    margin-top: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    padding: 20px;
    margin-bottom: 15px;
}

h1 {
    color: #333;
    text-align: center;
}

p {
    color: #555;
    text-align: center;
}

.input-group {
    margin: 10px 0;
}

label {
    display: block;
    color: #333;
}

input {
    margin-top: 5px;
    width: 95.4%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 8px;
}

button:hover {
    background-color: #2374a7;
}

.result {
    margin-top: 20px;
    color: #333;
    text-align: center;
}